section.banner-wrap
	.home-banner.banner
		.item
			.img
				img(src="img/banner/1.jpg", alt="")
			.container
				h3.caption Nhà sản suất thuần Việt
					.big chất lượng ưu Việt
					|với hành trình 20 năm
		.item
			.img
				img(src="img/banner/2.jpg", alt="")
			.container
				h3.caption 
					.cap-img
						img(src="img/banner/logo.png", alt="")
					.text Người bạn đồng hành chinh phục mọi hành trình
		.item
			.img
				img(src="img/banner/3.jpg", alt="")
			.container
				h3.caption 
					.cap-img
						img(src="img/banner/logo.png", alt="")
					.text Cùng bạn tạo dựng phong cách riêng