footer
	.footer
		img(src="img/footer.png", alt="")
	//- .fly-tool
		//- .social
			a.fa.fa-facebook(href="#!" data-toggle="tooltip" data-placement="left" title="Facebook")
			//- a.fa.fa-twitter(href="#!" data-toggle="tooltip" data-placement="left" title="Twitter")
			a.fa.fa-youtube-play(href="#!" data-toggle="tooltip" data-placement="left" title="Youtube")
		a.support(href="#!" data-toggle="tooltip" data-placement="left" title="Mạng lưới") <i class="material-icons">language</i>
		//- a.email(href="mailto:luongquoi@luongquoi.vn" data-toggle="tooltip" data-placement="left" title="Email") <i class="material-icons">email</i>
		a.hotline(href="tel:(+84).275.3.626.313" data-toggle="tooltip" data-placement="left" title="Hotline") <i class="material-icons">phone</i>
		a.up(href="#!" data-toggle="tooltip" data-placement="left" title="Đăng ký đại lý") <i class="material-icons">border_color</i>