extends _layout/layout

block variables
	- var title = 'MrVui'
	- var bodyclass = 'homepage'



block body 
	include _layout/header
	main
		//- .container
		include _pages/ct-lienhe2
	include _layout/footer