.page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/6.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container.full-width
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm

	.row
		include filter.jade
		.col-main
			section.product-page
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.category-info
					h1.cate-name Balo thời trang
						.amount Có 230 sản phẩm
					.col-right
						.change-view Hiển thị
							a.btn-view2(href="#!") 2
							a.btn-view4.active(href="#!") 4
						.product-sort
							select
								option(value="#") Sắp xếp theo
								option(value="#") Bán chạy nhất
								option(value="#") Hàng mới về
								option(value="#") Giá cao nhất
								option(value="#") Giá thấp nhất
				.product-list
					.row
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-intro
											.product-cate Balo laptop
											.product-name Balo laptop - dlx4
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nữ
											.product-name Balo Maubert - MC345
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/3.png", alt="")
									figcaption
										.product-intro
											.product-cate Du lịch - Thể thao
											.product-name Lady Plume - MC516
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nam
											.product-name Claken Backpack - NC371
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-intro
											.product-cate Balo laptop
											.product-name Balo laptop - dlx4
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nữ
											.product-name Balo Maubert - MC345
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/3.png", alt="")
									figcaption
										.product-intro
											.product-cate Du lịch - Thể thao
											.product-name Lady Plume - MC516
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nam
											.product-name Claken Backpack - NC371
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-intro
											.product-cate Balo laptop
											.product-name Balo laptop - dlx4
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nữ
											.product-name Balo Maubert - MC345
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/3.png", alt="")
									figcaption
										.product-intro
											.product-cate Du lịch - Thể thao
											.product-name Lady Plume - MC516
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nam
											.product-name Claken Backpack - NC371
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-intro
											.product-cate Balo laptop
											.product-name Balo laptop - dlx4
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nữ
											.product-name Balo Maubert - MC345
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/3.png", alt="")
									figcaption
										.product-intro
											.product-cate Du lịch - Thể thao
											.product-name Lady Plume - MC516
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nam
											.product-name Claken Backpack - NC371
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										.product-intro
											.product-cate Balo laptop
											.product-name Balo laptop - dlx4
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/2.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nữ
											.product-name Balo Maubert - MC345
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/3.png", alt="")
									figcaption
										.product-intro
											.product-cate Du lịch - Thể thao
											.product-name Lady Plume - MC516
										.product-price
											//- .old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
						article.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nam
											.product-name Claken Backpack - NC371
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
			.pages
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4