footer
	.footer-nav
		.row.no-gutters
			.col-12.col-md-6.col-xl-3
				a.nav-col(href="#!")
					figure
						.nav-img
							img(src="img/f1.jpg", alt="")
						.nav-icon
							img(src="img/ic1.png", alt="")
						figcaption
							.nav-name Hướng dẫn mua hàng
							.nav-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							.btn-wrap
								.btn-viewmore xem thêm
			.col-12.col-md-6.col-xl-3
				a.nav-col(href="#!")
					figure
						.nav-img
							img(src="img/f1.jpg", alt="")
						.nav-icon
							img(src="img/ic1.png", alt="")
						figcaption
							.nav-name Hướng dẫn mua hàng
							.nav-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							.btn-wrap
								.btn-viewmore xem thêm
			.col-12.col-md-6.col-xl-3
				a.nav-col(href="#!")
					figure
						.nav-img
							img(src="img/f1.jpg", alt="")
						.nav-icon
							img(src="img/ic1.png", alt="")
						figcaption
							.nav-name Hướng dẫn mua hàng
							.nav-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							.btn-wrap
								.btn-viewmore xem thêm
			.col-12.col-md-6.col-xl-3
				a.nav-col(href="#!")
					figure
						.nav-img
							img(src="img/f1.jpg", alt="")
						.nav-icon
							img(src="img/ic1.png", alt="")
						figcaption
							.nav-name Hướng dẫn mua hàng
							.nav-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							.btn-wrap
								.btn-viewmore xem thêm
	.subscribe-wrap
		.container
			.row
				.col-12.col-lg-9
					.subscribe
						.module-title Nhận ngay khuyến mãi
						.subscribefrm
							input(type="text" placeholder="Nhập email...")
							button.subscribebutton Đăng ký
				.col-12.col-lg-3
					.social
						a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
	.container
		.footer-top
			.row
				.col-12.col-md-4
					.footer-col
						.footer-title Thông tin công ty
						nav.footer-link
							a(href="#!") Giới thiệu công ty
							a(href="#!") Giới thiệu công ty
							a(href="#!") Giới thiệu công ty
							a(href="#!") Giới thiệu công ty
				.col-12.col-md-4
					.footer-col
						.footer-title Thông tin công ty
						nav.footer-link
							a(href="#!") Giới thiệu công ty
							a(href="#!") Giới thiệu công ty
							a(href="#!") Giới thiệu công ty
							a(href="#!") Giới thiệu công ty
				.col-12.col-md-4
					.footer-col
						.footer-title Thông tin công ty
						.footer-cert
							a(href="#!")
								img(src="img/bct.png", alt="")
		.footer-bottom.text-center
			.copyright Copyright © 2017 Mr.Vui. All rights reserved.
