header
	.container.full-width
		.header-wrap
			.btn-showmenu <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.menu
				.menu-logo
					.sitelogo
						a(href="#!")
							img(src="img/logo.png", alt="")
				nav.menu-wrap
					ul.menu-link
						li
							a(href="#!") trẻ em
						li
							a(href="#!") công sở
						li
							a(href="#!") du lịch
						li.has-mega
							a(href="#!") sản phẩm thời trang
							.mega
								.mega-wrap
									.row.justify-content-center
										.col-12.col-md-3
											.mega-col
												.mega-title
													a(href="#!") Bé trai
												ul.mega-link
													li
														a(href="#!") Cặp
													li
														a(href="#!") Balo
													li
														a(href="#!") Balo cần kéo
													li
														a(href="#!") Túi đeo
													li
														a(href="#!") Sale
										.col-12.col-md-3
											.mega-col
												.mega-title
													a(href="#!") Bé gái
												ul.mega-link
													li
														a(href="#!") Cặp
													li
														a(href="#!") Balo
													li
														a(href="#!") Balo cần kéo
													li
														a(href="#!") Túi đeo
													li
														a(href="#!") Sale
										.col-12.col-md-6
											.mega-img
												img(src="img/megaimg.jpg", alt="")
						li
							a(href="#!") khách hàng doanh nghiệp
			.col-right
				.search 
					.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.user 
					.login-toggle <i class="fa fa-user" aria-hidden="true"></i>
					.login-popup
						.login-panel
							.login-form
								.headtitle Thành viên
								.form-wrap
									.form-group
										label Đăng nhập *
										input(type="text" placeholder="")
									.form-group
										label Mật khẩu *
										input(type="password" placeholder="")
								a.forget-password(href="#!") Quên mật khẩu
								.frm-btn
									input(type="submit", value="Đăng nhập")
							.register-form
								.headtitle Chưa có tài khoản
								.form-wrap
									.module-title Vui lòng điền địa chỉ email chính xác. để reset password. Bạn sẽ nhận email ngay lập tức
									a.btn-register(href="#!") Đăng ký tài khoản

				.cart
					.cart-toggle <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						.cart-amount 2