.page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/1.jpg", alt="")
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Giới thiệu
section.about-section
	.container
		.content
			.quote.text-center Mr.Vui đã bắt đầu từ con số 0 trước khi bước vào một chặng đua dài. Câu chuyện đôi vợ chồng trẻ và bài toán khởi nghiệp…
			p.text-center Từ những đồng vốn ít ỏi từ việc buôn bán túi xách ở chợ Phạm Văn Hai từ những đầu năm 90, chắt chiu tiêu xài và dành dụm từng đồng mỗi ngày với tham vọng có thể tự sản xuất được những sản phẩm mà mình đa ng bán ra. Sau 2 năm, đôi vợ chồng trẻ đã mua được cho mình được 2 máy may. Trong khoảng thời gian tìm tòi học hỏi phương pháp may chuẩn, họ vẫn duy trì việc lấy hàng của nhà cung cấp để có thể đáp ứng được lượng khách hàng hiện hữu. Rồi 3 máy, 4 máy, số lượng máy may mỗi lúc một tăng theo thời gian. 
			br
			br
			.quote.text-center Đam mê là hành động. Nuôi ước mơ, vẽ đam mê là chưa đủ, phải hành động để biến những cái vô hình thành hữu hình
			p.text-center Nhìn thấy được một thị trường vô cùng tiềm năng, ông đã không ngần ngại quyết định mở rộng kinh doanh. Năm 2004, công ty Trương Vui được thành lập. Ước vọng làm ra sản phẩm của riêng mình và mang thương hiệu của riêng mình – thương hiệu Mr.Vui song cũng được ra đời từ đây.
section.about-section2
	.container
		.about-title.text-center Tại sao lại là Mr.Vui?
		.ceo-mess
			.content
				p Lấy cảm hứng từ một anh thợ cắt tóc đam mê ca hát, anh đã dự thi Tiếng hát Truyền hình liên tiếp 8 lần để rồi chỉ đạt giải tư. Nhưng những khát khao và ước mơ bền bỉ của anh đã tạo nên một tên tuổi không ai không biết đến - “ông hoàng nhạc Việt”. Anh cũng được biết đến với tên gọi thân quen – Mr.Đàm. Anh ta đã làm được điều đó trong làng giải trí, tôi cũng ao ước mang sự đam mê ấy về cho ngành dệt may của mình.
		.ceo
			figure
				.ceo-img
					img(src="img/ceo.jpg", alt="")
				figcaption
					.ceo-name Trương Vui
					.ceo-des Nhà sáng lập Mr.Vui
section.about-section.about-section1
	.container
		.content
			.quote.text-center Mr.Vui đã bắt đầu từ con số 0 trước khi bước vào một chặng đua dài. Câu chuyện đôi vợ chồng trẻ và bài toán khởi nghiệp…
			p.text-center Từ những đồng vốn ít ỏi từ việc buôn bán túi xách ở chợ Phạm Văn Hai từ những đầu năm 90, chắt chiu tiêu xài và dành dụm từng đồng mỗi ngày với tham vọng có thể tự sản xuất được những sản phẩm mà mình đa ng bán ra. Sau 2 năm, đôi vợ chồng trẻ đã mua được cho mình được 2 máy may. Trong khoảng thời gian tìm tòi học hỏi phương pháp may chuẩn, họ vẫn duy trì việc lấy hàng của nhà cung cấp để có thể đáp ứng được lượng khách hàng hiện hữu. Rồi 3 máy, 4 máy, số lượng máy may mỗi lúc một tăng theo thời gian. 
			br
			br
			.quote.text-center Đam mê là hành động. Nuôi ước mơ, vẽ đam mê là chưa đủ, phải hành động để biến những cái vô hình thành hữu hình
			p.text-center Nhìn thấy được một thị trường vô cùng tiềm năng, ông đã không ngần ngại quyết định mở rộng kinh doanh. Năm 2004, công ty Trương Vui được thành lập. Ước vọng làm ra sản phẩm của riêng mình và mang thương hiệu của riêng mình – thương hiệu Mr.Vui song cũng được ra đời từ đây.
section.about-section3
	.about-bg(style="background: url(img/about/bg.jpg) center center; background-size: cover")
	.container
		.workplace-title.text-center Xưởng sản xuất Mr.Vui - Khu CN Nhị Xuân
section.about-section4
	.container
		.about-title.text-center Thành tích và huân chương
		.about-des.text-center Với những nỗ lực xây dựng và phát triển, Mr Vui tự hào là Doanh nghiệp đóng góp một phần nhỏ vào nền kinh tế Việt Nam. Năm 2017, chúng tôi được trao tặng bằng khen của Thủ tướng Chính phủ.
		.award-list.award-slick
			.item
				a.award(href="img/about/a1.png" data-fancybox="img")
					img(src="img/about/a1.png", alt="")
			.item
				a.award(href="img/about/a1.png" data-fancybox="img")
					img(src="img/about/a1.png", alt="")
			.item
				a.award(href="img/about/a1.png" data-fancybox="img")
					img(src="img/about/a1.png", alt="")
			.item
				a.award(href="img/about/a1.png" data-fancybox="img")
					img(src="img/about/a1.png", alt="")
			.item
				a.award(href="img/about/a1.png" data-fancybox="img")
					img(src="img/about/a1.png", alt="")
			.item
				a.award(href="img/about/a1.png" data-fancybox="img")
					img(src="img/about/a1.png", alt="")
section.about-section5
	.container
		.about-title.text-center Nhiệm vụ & Sứ mệnh của chúng tôi
		.about-content
			.row.align-items-center
				.col-12.col-lg-6
					.about-img
						img(src="img/about/img1.jpg", alt="")
				.col-12.col-lg-6
					.content
						p Chúng tôi sẽ mang đến những sản phẩm và dịch vụ đạt giá trị và chất lượng tối đa với giá thành hợp lý nhất.
						br
						p Nhiệm vụ của chúng tôi góp phần nâng cao tiêu chuẩn mức sống của người Việt Nam về mặt vật chất và tinh thần

section.about-section6
	.container
		.about-title.text-center Chung tay vì cộng đồng
		.about-des.text-center Đi lên từ bàn tay trắng, Mr Vui luôn đồng cảm trường hợp các em học sinh có hoàn cảnh khó khăn. Để đóng góp vào việc khuyến khích và hỗ trợ các em có cặp xách đến trường, hằng năm Mr Vui luôn tổ chức các hoạt động thiện nguyện trao quà và học bổng ở các trường học vùng sâu vùng xa.
		.album-list
			.row
				.col-6.col-md-3
					a.album-img.big(href="#!" data-fancybox="album" style="background: url(img/about/pic1.jpg);background-size: cover")
				.col-12.col-md-6.order1
					a.album-img.big(href="#!" data-fancybox="album" style="background: url(img/about/pic2.jpg);background-size: cover")
				.col-6.col-md-3
					a.album-img.big(href="#!" data-fancybox="album" style="background: url(img/about/pic3.jpg);background-size: cover")
				.col-6.col-md-3
					a.album-img(href="#!" data-fancybox="album" style="background: url(img/about/pic4.jpg);background-size: cover")
				.col-6.col-md-3
					a.album-img(href="#!" data-fancybox="album" style="background: url(img/about/pic5.jpg);background-size: cover")
				.col-6.col-md-3
					a.album-img(href="#!" data-fancybox="album" style="background: url(img/about/pic6.jpg);background-size: cover")
				.col-6.col-md-3
					a.album-img(href="#!" data-fancybox="album" style="background: url(img/about/pic7.jpg);background-size: cover")
section.about-section7
	.container
		.row.align-items-center
			.col-12.col-lg-5
				.about-img
					img(src="img/about/img2.jpg", alt="")
			.col-12.col-lg-7
				.about-content
					.content
						p Chúng tôi luôn mong muốn được đóng góp nhiều hơn nữa để có thể cải thiện cuộc sống cho những mầm non của đất nước. Ngoài các chiến dịch tình nguyện do Mr.Vui thực hiện, các chiến dịch do các đơn vị khác tổ chức cũng được chúng tôi ủng hộ và hưởng ứng. Nếu quý đơn vị có nhu cầu mua cặp hoặc balo học sinh cho hoạt động từ thiện, xin vui lòng liên hệ với chúng tôi qua địa chỉ mail: 
							a.text-green(href="mailto:contact@handbagmrvui.com") contact@handbagmrvui.com để có giá ưu đãi đặc biệt.

