section.home-product
	.container.full-width
		h1.home-title.text-uppercase Sản phẩm mới
		.product-list
			.row
				.col-6.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-color 7 màu
								.product-intro
									.product-cate Balo laptop
									.product-name Balo laptop - dlx4
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.col-6.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-color 7 màu
								.product-intro
									.product-cate Balo laptop
									.product-name Balo laptop - dlx4
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.col-6.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-color 7 màu
								.product-intro
									.product-cate Balo laptop
									.product-name Balo laptop - dlx4
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.col-6.col-md-6.col-lg-3
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-color 7 màu
								.product-intro
									.product-cate Balo laptop
									.product-name Balo laptop - dlx4
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
section.home-video
	a.video(href="https://www.youtube.com/watch?v=dRGT6JGcmlI" data-fancybox="video")
		img(src="img/videobg.jpg", alt="")
section.home-qc
	.qc-list
		.row
			.col-12.col-lg-6
				a.qc-banner(href="#!")
					img(src="img/banner/qc1.jpg", alt="")
			.col-12.col-lg-6
				a.qc-banner(href="#!")
					img(src="img/banner/qc2.jpg", alt="")
section.home-news
	.container
		h2.home-title.text-center Tin tức
		.btn-wrap.text-center
			a.btn-viewall(href="#!") Tất cả bài viết
		.hnews-list
			.row
				.col-12.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Mua balo du lịch chính hãng cần lưu ý
								time 07/03/2018
								.news-des Mua balo du lịch chính hãng cần chú ý điều gì?- Bạn đang ấp ủ kế hoạch đi du lịch một chuyến xa cùng gia đình, bạn bè trong dịp hè năm nay? 
				.col-12.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Mua balo du lịch chính hãng cần lưu ý
								time 07/03/2018
								.news-des Mua balo du lịch chính hãng cần chú ý điều gì?- Bạn đang ấp ủ kế hoạch đi du lịch một chuyến xa cùng gia đình, bạn bè trong dịp hè năm nay? 
				.col-12.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Mua balo du lịch chính hãng cần lưu ý
								time 07/03/2018
								.news-des Mua balo du lịch chính hãng cần chú ý điều gì?- Bạn đang ấp ủ kế hoạch đi du lịch một chuyến xa cùng gia đình, bạn bè trong dịp hè năm nay? 
//- section.home-feature
	.container
		.feature-list
			.row
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/f1.png", alt="")
							figcaption
								.feature-name Hướng dẫn mua hàng
								.feature-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/f1.png", alt="")
							figcaption
								.feature-name Hướng dẫn mua hàng
								.feature-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/f1.png", alt="")
							figcaption
								.feature-name Hướng dẫn mua hàng
								.feature-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/f1.png", alt="")
							figcaption
								.feature-name Hướng dẫn mua hàng
								.feature-des Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do