.partner-banner
	.banner-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.banner-caption 
		.big Marketing với sản phẩm quảng cáo
		.des Việc cho ra sản phẩm quà tặng được thiết kế riêng biệt là một phương thức quảng bá thương hiệu tối ưu nhất - hiệu quả, lâu dài, không chỉ cho người sử dụng, mà lan toả đến cả những người xung quanh - được các doanh nghiệp lựa chọn hàng đầu những năm trở lại đây. Chuyên viên khách hàng B2B của chúng tôi sẽ hỗ trợ từng bước và giúp doanh nghiệp của bạn có được những chiến dịch marketing thành công nhất.
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Giới thiệu
section.partner-page
	.container.full-width
		.content
			.quote.text-center.text-uppercase
				h3 Chúng tôi vô cùng cám ơn vì sự hợp tác với các doanh nghiệp uy tín hàng đầu ở Việt Nam và trên toàn thế giới
		.partner-list
			.row
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
				.col-6.col-sm-4.col-md-3.col-lg-2
					a.partner-logo(href="#!")
						img(src="img/partner/1.jpg", alt="")
		.btn-wrap.text-center
			.partner-intro Và hơn 
				strong 800 
				|trường học và doanh nghiệp trên toàn quốc
section.partner-story
	.section-bg(style="background:url(img/partner/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.about-title.text-center Câu chuyện về chúng tôi 
		.content.text-center
			p Trong hơn 15 năm chúng tôi đã là đối tác tin cậy cho những thương hiệu cần những sản phẩm quảng cáo. Sứ mệnh của chúng tôi là mang lại những sản phẩm hoàn mĩ nhất cho bạn, góp phần xây dựng vị thế thương hiệu riêng mang tên bạn. 
			p Từ việc dựng mô hình sản phẩm, lựa chọn nguyên phụ liệu phù hợp cho đến sản xuất hàng loạt - tất cả mọi thứ được thực hiện bởi đội ngũ của chúng tôi.
section.partner-product
	.container
		.about-title.text-center.text-black Sản phẩm của chúng tôi
		.content 
			p Khách hàng có thể đặt hàng số lượng lớn những dòng sản phẩm valy nhựa, valy vải, balo laptop, balo thời trang, cặp học sinh, balo học sinh, túi du lịch, và nhiều dòng sản phẩm khác. Đó là lý do tại sao khách hàng của chúng tôi luôn có thể đổi mới những sản phẩm quảng cáo mà không cần phải tìm kiếm ở những nơi khác.
		.product-center-slick
			.item
				.product-img
					img(src="img/partner/pr1.png", alt="")
			.item
				.product-img
					img(src="img/partner/pr1.png", alt="")
			.item
				.product-img
					img(src="img/partner/pr1.png", alt="")
			.item
				.product-img
					img(src="img/partner/pr1.png", alt="")
			.item
				.product-img
					img(src="img/partner/pr1.png", alt="")
section.partner-design
	.container
		.row
			.col-12.col-lg-6
				.design-title Thiết kế độc nhất-dành riêng cho khách hàng của bạn
				.content
					p Theo yêu cầu của đối tác, chúng tôi đưa ra những ý tưởng phù hợp với nhu cầu của người sử dụng trực tiếp sản phẩm và tuỳ chỉnh thiết kế cho đến khi khách hàng thực sự hài lòng.
					p Mục tiêu của chúng tôi là tạo ra các sản phẩm quảng cáo mà mọi người yêu thích và sử dụng trong cuộc sống hàng ngày. Đó là lý do tại sao chúng tôi chú ý đến từng chi tiết nhỏ trong thiết kế cho những sản phẩm quảng cáo được tạo ra 
			.col-12.col-lg-6
				.design-title Sản xuất
				.content
					p Nhóm quản lý dự án của chúng tôi luôn theo sát tiến độ sản xuất và và theo sát quy trình kiểm tra chất lượng ngay từ khâu đầu vào. 
					p Chúng tôi chỉ hợp tác với một số lượng hạn chế các nhà cung cấp tin cậy và đảm bảo các tiêu chuẩn quốc tế nghiêm ngặt.
			.col-12
		.design-number
			.row
				.col-12.col-sm-6.col-lg-3
					.number-wrap
						.number 12
						.des original
							br
							|products
				.col-12.col-sm-6.col-lg-3
					.number-wrap
						.number 1
						.des new product
							br
							|every month
				.col-12.col-sm-6.col-lg-3
					.number-wrap
						.number 12
						.des pantone
							br
							|matched
				.col-12.col-sm-6.col-lg-3
					.number-wrap
						.number 12
						.des quality
							br
							|control
section.design-gallery
	.row.no-gutters
		.col-12.col-md-6.col-lg-3
			a.img(href="#!")
				img(src="img/partner/d1.jpg", alt="")
		.col-12.col-md-6.col-lg-6.order1
			a.img(href="#!")
				img(src="img/partner/d2.jpg", alt="")
		.col-12.col-md-6.col-lg-3
			a.img(href="#!")
				img(src="img/partner/d3.jpg", alt="")
		.col-12.col-md-6.col-lg-3
			a.img(href="#!")
				img(src="img/partner/d4.jpg", alt="")
		.col-12.col-md-6.col-lg-3
			a.img(href="#!")
				img(src="img/partner/d5.jpg", alt="")
		.col-12.col-md-6.col-lg-3
			a.img(href="#!")
				img(src="img/partner/d6.jpg", alt="")
		.col-12.col-md-6.col-lg-3
			a.img(href="#!")
				img(src="img/partner/d7.jpg", alt="")
section.partner-contact
	.container
		.partner-form
			.module-title Nếu doanh nghiệp bạn muốn gây ngạc nhiên cho khách hàng của mình, hãy bắt đầu từ đây:
			.form-wrap
				.form-group
					input(type="text" placeholder="Tên người liên lạc")
				.form-group
					input(type="text" placeholder="Số điện thoại hoặc email của bạn")
				.form-group
					input(type="text" placeholder="Câu hỏi của bạn")
				.frm-btn
					input(type="submit", value="Liên hệ")