.partner-banner
	.banner-img
		img(src="img/breadcrumb/3.jpg", alt="")
	.banner-caption.white
		.big Cùng gia nhập đại gia đình Mr.Vui
		.des Hãy liên lạc với chúng tôi nếu bạn quan tâm đến sản phẩm hoặc môi trường làm việc của chúng tôi. Chúng tôi luôn lắng nghe thông tin cũng như ý kiến phản hồi của bạn.
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Liên hệ
section.contact-page
	.container.full-width
		h1.home-title.text-center.text-green Liên hệ
		.page-des.text-center Ý kiến của quý khách là nền tảng cho chúng tôi cải tiến và nâng cao chất lượng dịch vụ. Chúng tôi luôn trân trọng ý kiến của quý khách đã góp phần vào sự phát triển bền vững của  Mr.Vui. Mọi ý kiến đóng góp vui lòng để lại thông tin tại đây.
		.row
			.col-12.col-lg-8
				.contact-form
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								label Họ tên
								input(type="text" placeholder="Họ và tên...")
							.form-group.col-12.col-md-6
								label Email
								input(type="text" placeholder="Email...")
							.form-group.col-12.col-md-6
								label Tiêu đề
								input(type="text" placeholder="Tiêu đề...")
							.form-group.col-12.col-md-6
								label Số điện thoại
								input(type="text" placeholder="Số điện thoại...")
							.form-group.col-12
								label Nội dung
								textarea(name="", cols="", rows="6" placeholder="Nội dung...")
							.frm-btn
								input(type="submit", value="Gửi")
			.col-12.col-lg-4
				.contact-info
					h2.company CÔNG TY TNHH & TM TRƯƠNG VUI
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>452G Luỹ Bán Bích, Phường Hoà Thạnh, Quận Tân Phú, Tp.Hồ Chí Minh
						li <i class="fa fa-envelope" aria-hidden="true"></i>
							a(href="mailto:tv@handbagmrvui.com") tv@handbagmrvui.com
						li <i class="fa fa-clock-o" aria-hidden="true"></i>Thời gian làm việc:  Sáng:  07g30 – 12g00  |  Chiều: 13g00 – 21g00 Từ thứ 2 – thứ 7
					.title Chăm sóc khách hàng
					ul
						li <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							a(href="tel:0901 487 456") 0901 487 456(7g30 - 21g00)
						li <i class="fa fa-envelope" aria-hidden="true"></i>
							a(href="mailto:cskh@handbagmrvui.com") cskh@handbagmrvui.com
					.title Xưởng sản xuất
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>Lô 10, Đường số 04, cụm CN Nhị Xuân, Hóc Môn, Tp. Hồ Chí Minh
			.col-12
				.contact-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.422877633391!2d106.6939803986466!3d10.784043804122119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b03a907de7%3A0x589db3647b984eee!2zQ8O0bmcgVHkgQ3AgxJDhu4thIOG7kGMgS2ltIE9hbmg!5e0!3m2!1svi!2s!4v1526867636061', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')