//- .page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm
			li
				a(href="#!") Balo thời trang
			li
				a(href="#!") Balo học sinh - DLX4
.product-page.clearfix
	section.product-info-wrap.clearfix
		.container.full-width
			.row
				.col-12.col-lg-6.col-xl-8
					//- .slide-wrap
						.promotion.sale
							img(src="img/icon.png", alt="")
						.product-slide
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/1.png")
									img(src="img/product/1.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/1.png")
									img(src="img/product/1.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/1.png")
									img(src="img/product/1.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/1.png")
									img(src="img/product/1.png", alt="")
						.product-nav
							.item
								.img
									img(src="img/product/1.png", alt="")
							.item
								.img
									img(src="img/product/1.png", alt="")
							.item
								.img
									img(src="img/product/1.png", alt="")
							.item
								.img
									img(src="img/product/1.png", alt="")
					.product-img-list(data-toggle="modal" data-target="#modalimg")
						.row
							.col-6.col-sm-4.col-lg-6
								.product-img
									img(src="img/product/1.png", alt="")
							.col-6.col-sm-4.col-lg-6
								.product-img
									img(src="img/product/2.png", alt="")
							.col-6.col-sm-4.col-lg-6
								.product-img
									img(src="img/product/3.png", alt="")
							.col-6.col-sm-4.col-lg-6
								.product-img
									img(src="img/product/4.png", alt="")
				.col-12.col-lg-6.col-xl-4
					section.product-info
						h1.product-name Balo học sinh - dlx4
						//- .product-id
							strong dlx4
						.product-price
							.new 690.000đ
							.old 990.000đ
						.product-option
							.product-size
								.label Kích thước:
								.input-size
									input(type="text" placeholder="Dài")
									|x
									input(type="text" placeholder="Rộng")
									|x
									input(type="text" placeholder="Cao")
								//- select
									option 3L
									option 4L
									option XL
									option 36
									option 27
							.product-color
								.label Màu sắc:
								ul
									li.color
										a.color-img.disable(href="#")
											img(src="img/product/2.png", alt="")
									li.color
										a.color-img.active(href="#")
											img(src="img/product/1.png", alt="")
									li.color
										a.color-img(href="#")
											img(src="img/product/3.png", alt="")
							//- .product-size
								.label Kích thước:
								ul
									li.size
										a.active(href="#") 18
									li.size
										a(href="#") 20
									li.size
										a.disable(href="#") 24
									li.size
										a(href="#") 30
									li.size
										a(href="#") 35
									li.size
										a(href="#") 37
						.addtocart-wrap
							input.amount(type="number" value="1")
							a.btn-buy(href="#!" data-toggle="modal" data-target="#exampleModal") 
								span Mua ngay
							a.btn-wishlist(href="#!" data-toggle="tooltip" data-placement="right" title="Yêu thích") Yêu thích
							//- .help-buy
								a(href="#!") Hướng dẫn mua hàng
						.feature-content
							.content
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam accusantium recusandae vel placeat maxime nihil vitae corporis mollitia, at eius inventore illum praesentium quaerat ea porro doloribus voluptate consequuntur. Facilis expedita recusandae sapiente vitae illum corporis molestias nihil modi aliquid. Voluptatem ducimus voluptas assumenda atque eos quas ad, id laboriosam asperiores. Mollitia recusandae, maxime voluptas doloribus sit nihil numquam commodi accusamus in ab animi quos. Quibusdam, excepturi molestiae voluptas facilis numquam fuga eum sunt quis. Suscipit similique assumenda sint nesciunt accusamus. Aspernatur est quis, ipsa, quasi, voluptatibus asperiores et ea fugiat blanditiis unde sed sunt illo culpa iure! Maxime, illo?
							.btn-wrap
								a.readmore(href="#!" data-toggle="modal" data-target="#modaldetail") Xem thêm
						.product-feature
							//- .feature
								.feature-title Chi tiết sản phẩm
							.feature
								.feature-title Vận chuyển
								.feature-content
									.content
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolorum.
							.feature
								.feature-title Thanh toán
								.feature-content
									.content
										p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quis vero harum totam tempora libero.
							.feature
								.feature-title Chính sách bảo hành
								.feature-content
									.content
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque omnis illum sint officia, libero sed ullam aliquam placeat eligendi. Eaque!
							.feature
								.feature-title Hướng dẫn mua hàng
								.feature-content
									.content
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quod fugit nisi ut quaerat tempora commodi odio voluptate modi temporibus a beatae quisquam doloribus cum, ipsam minima repellendus fugiat illum!
								
						//- .product-gift
							.module-title Ưu đãi đi kèm
							ul
								li Bảo hành 10 năm toàn cầu
								li Giao hàng tận nơi, thanh toán toàn quốc
								li Đổi trả trong 365 ngày (nếu sản phẩm bị lỗi từ nhà sản xuất)
						//- .product-overview
							.content
								p Microwave safe coffee mug with graffiti & art ceramic theme.Use in Microwave only for reheating purposes and these mugs will make Monday mornings easier to handle.
								ul
									li SKU: 603317-01
									li Category: Furniture
								//- li Tags: 
									a(href="#!") Classic
									|, 
									a(href="#!") Essentials
							//- a.buy-support(href="#!") <i class="fa fa-question-circle" aria-hidden="true"></i> Hướng dẫn mua hàng
						//- .btnview-wrap.clearfix
							a.btn-view360(href="https://www.youtube.com/watch?v=nJ8-x9OBf24" data-fancybox="video")
								span.img
									img(src="img/icon/view360.png", alt="")
								span View 360<sup>o</sup>
							a.btn-playvideo(href="https://www.youtube.com/watch?v=oAenhDLuoE4" data-fancybox="video")
								span.img
									img(src="img/icon/video.png", alt="")
								span Video
							//- a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
	.container.full-width
		//- .row
		//- 	.col-12.col-lg-8
		//- section.product-description.clearfix
			.responsive-tab
				ul.tab-list
					li.tab-item
						a(href='#tab1') Chi tiết
					li.tab-item
						a(href='#tab2') Thông số
					li.tab-item
						a(href='#tab3') Đánh giá
				#tab1.tab-content
					.container
						.content.product-content
							p The best part of waking up will be your favorite drink in an artistic and colorful mug from KESS House! These high quality,ceramic mugs are microwave and dishwasher safe, with vivid artwork that won’t fade.Great for all drinks, these mugs will make Monday mornings easier to handle.
							p Special Mug for a special drink – Green Tea – exclusively designed, Glass with amazing designs to increase the pleasure of having green tea. A healthy and safe companion for your healthy lifestyle. Lovely glass mug with message “Drink Tea, Work, Eat, Read Sleep, Repeat”. Use in Microwave only for reheating purposes.
							figure
								img(src="http://lug.webcanhcam.com/Data/Sites/1/media/san-pham/sb501/03-(2).jpg", alt="")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corporis dolor fugiat consectetur sit numquam pariatur atque, omnis vel laboriosam saepe exercitationem reiciendis, cum odio dicta. Ad quod maxime, perspiciatis, officiis ipsa assumenda veritatis incidunt ipsam exercitationem deleniti, odio a nulla praesentium! Fugiat ea molestiae porro eos facere eligendi magnam maiores architecto omnis, id similique animi doloribus voluptatibus error consequatur dicta quod ipsam quae autem itaque praesentium qui nulla reiciendis! Illum, officia, et fugit odio accusamus exercitationem consectetur natus praesentium molestias sit corporis. Delectus vitae sit, voluptatum ducimus illum provident blanditiis saepe neque at velit, modi ipsam explicabo temporibus rerum.
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odio consectetur rerum quia sapiente animi nemo aliquid possimus ipsa reiciendis, veniam et quisquam atque quasi, hic repellendus esse incidunt officiis laudantium ad quae numquam voluptate! Quidem voluptatibus maiores necessitatibus! Illo et cum qui quasi labore nostrum aliquid rerum corporis vel!
							figure
								img(src="http://lug.webcanhcam.com/Data/Sites/1/media/san-pham/sb501/01-(1).jpg", alt="")
							p SB501 kết hợp sọc dọc bản to với bo góc mạnh mẽ, 5 màu sắc bắt mặt cùng bề mặt họa tiết hình hoa
							figure
								img(src="http://lug.webcanhcam.com/Data/Sites/1/media/san-pham/sb501/04-(2).jpg", alt="")
							p Khóa số TSA 3 bánh răng thế hệ mới cùng hệ thống khóa kéo doublezipper, chính là “tường thành an ninh” vững chắc bảo vệ hành lý của bạn.
							figure
								img(src="http://lug.webcanhcam.com/Data/Sites/1/media/san-pham/sb501/08-(2).jpg", alt="")
							p Vali chính hãng trang bị cần kéo hợp kim nhôm điều chỉnh chiều cao phù hợp với vóc dáng người sử dụng, đảm bảo bạn luôn thẳng lưng khi kéo sản phẩm.
							p Không gian bên trong vali được tận dụng tối đa tích hợp dây đai chữ X thông minh, tránh tình trạng hành lý bên trong bị xê dịch trong quá trình vận chuyển.
							p Chiếc vali 8 bánh đảm bảo việc kéo vali suôn sẻ bởi bánh xe được sản xuất từ nhà máy Hinomoto (Nhật Bản).
						.btn-wrap
							a.btn-showdetail(href="#!") Xem thêm
							a.btn-hidedetail(href="#!") Thu gọn
						.product-item
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Balo học sinh Pro-dlx4
									.product-cate Balo laptop
									.product-price
										.new 690.000đ
										.old 990.000đ
									.btn-wrap
										a.btn-buy(href="#!") Mua ngay
				#tab2.tab-content
					.container
						table.table
							tr
								td Weight
								td 1.73 kg
							tr
								td Dimensions
								td 100 x 37 x 100 cm
							tr
								td Size
								td One Size, XL, L, M, S
							tr
								td Color
								td Orange, White
				#tab3.tab-content
					.fb-comment
						img(src="img/comment.jpg", alt="")
			//- .col-12.col-lg-4
				.sidebar-news
					.small-title Tin khuyến mãi
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
				.sidebar-news
					.small-title Tin mới
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
	section.product-sharing.clearfix
		.container.full-width
			.share
				.label Chia sẻ:
				a.fa.fa-facebook(href="#")
				a.fa.fa-twitter(href="#")
				a.fa.fa-google-plus(href="#")
	section.product-other.clearfix
		.container.full-width
			h3.small-title Có thể bạn quan tâm
			.product-list.product-slick
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-intro
									.product-cate Balo laptop
									.product-name Pro-dlx4
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/2.png", alt="")
							figcaption
								.product-intro
									.product-cate Thời trang nữ
									.product-name Balo Maubert
								.product-price
									//- .old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/3.png", alt="")
							figcaption
								.product-intro
									.product-cate Du lịch - Thể thao
									.product-name Lady Plume
								.product-price
									//- .old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/4.png", alt="")
							figcaption
								.product-intro
									.product-cate Thời trang nam
									.product-name Claken Backpack
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-intro
									.product-cate Balo laptop
									.product-name Pro-dlx4
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/2.png", alt="")
							figcaption
								.product-intro
									.product-cate Thời trang nữ
									.product-name Balo Maubert
								.product-price
									//- .old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/3.png", alt="")
							figcaption
								.product-intro
									.product-cate Du lịch - Thể thao
									.product-name Lady Plume
								.product-price
									//- .old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/4.png", alt="")
							figcaption
								.product-intro
									.product-cate Thời trang nam
									.product-name Claken Backpack
								.product-price
									.old 600.000đ
									.new 500.000đ
								.buy-wrap
									a.btn-buy(href="#!") Mua ngay


<!-- Modal -->

#modalimg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-img(role='document')
		.modal-content
			.modal-header
				.close(data-dismiss='modal', aria-label='Close') <i class="material-icons">close</i>
			.modal-body
				.img-list
					.img
						img(src="img/product/1.png", alt="")
					.img
						img(src="img/product/2.png", alt="")
					.img
						img(src="img/product/3.png", alt="")
					.img
						img(src="img/product/4.png", alt="")

#modaldetail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-detail(role='document')
		.modal-content
			.modal-header
				.product
					figure
						.product-img
							img(src="img/product/1.png", alt="")
						figcaption
							.product-name BALO HỌC SINH - DLX4
							.product-price
								.new 690.000đ
								.old 990.000đ
				.close(data-dismiss='modal', aria-label='Close') <i class="material-icons">close</i>
			.modal-body
				.content
					p
						strong INSTANT GO
					p The Nike Odyssey React Men's Running Shoe provides crazy comfort that lasts as long as you can run. Its Nike React foam cushioning is responsive yet lightweight, durable yet soft. This attraction of opposites creates a sensation that not only enhances the feeling of moving forward, but makes running feel fun, too. The Nike Odyssey React's upper is built with a lightweight, breathable fabric instead of the premium Flyknit featured on the Nike Epic React.
					p 
						strong Ridiculously Responsive
					p Nike React feels incredibly bouncy. As your foot lands, the foam responds to the impact of your step by snapping back. The more energy you put into your step, the more energy you get in return. Compared to the similarly soft Nike Lunarlon cushioning, you get 13% more energy return with React.
					p 
						strong Feels Like the First Run
					p Based on testing with champion runners like Galen Rupp, React cushioning still feels like new after roughly 300 miles. Since the foam resists compression and keeps its shape, you get that exciting out-of-the-box experience with every run.
					p
						strong Cool and Comfortable
					p The upper is made with breathable jacquard fabric, and has a more open knit on the forefoot to help release heat and keep your feet cool. Lightweight foam lines the collar for a plush, comfortable feel around your ankle. Inside the shoe, a stretchy sleeve hugs your foot from the ankle to the midfoot, giving you a locked-in fit and a comfortable, sock-like feel.
					p 
						strong More Details
					ul
						li Heel shelf stabilizes the back of your foot to help keep your heel from rocking as your foot lands
						li Outsole has slightly more rubber coverage than the Nike Epic React
						li Offset: 10mm
						li Shown: Black/White/Black
						li Style: AO9819-010

#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-addtocart(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Mr.Vui - Vali - Balo - Phụ kiện chính hãng
				.close(data-dismiss='modal', aria-label='Close') <i class="material-icons">close</i>
			.modal-body
				.row
					.col-12.col-lg-8.col-xl-9
						.product-item
							figure
								.product-img
									img(src="img/product/1.png", alt="")
								figcaption
									.product-info
										h1.product-name Balo học sinh - dlx4
										.product-id Mã sản phẩm: 
											strong dlx4
										.product-price
											.new 690.000đ
											.old 990.000đ
										.addtocart-wrap
											a.btn-goback(href="#!" data-dismiss='modal', aria-label='Close') Tiếp tục mua hàng
											a.btn-buy(href="#!" data-toggle="modal" data-target="#exampleModal") 
												span Thanh toán
					.col-12.col-lg-4.col-xl-3
						section.minicart
							.carttitle <i class="fa fa-shopping-cart"></i>Đơn hàng (<strong>2</strong> sản phẩm)
							.carttable.clearfix
								.group.clearfix
									.product.clearfix
										a.productimg(href="#")
											img(src="img/product/1.png", alt="")
										.productdetail
											h3.product-name Balo học sinh
											.product-brand Polo
									.amount
										.price 500.000đ
										.count x1
										.total 500.000đ
								.group.clearfix
									.product.clearfix
										a.productimg(href="#")
											img(src="img/product/2.png", alt="")
										.productdetail
											h3.product-name Balo học sinh
											.product-brand Polo
									.amount
										.price 500.000đ
										.count x1
										.total 500.000đ
								.group
									.label Phí vận chuyển
									.value Miễn phí
								.group
									.label Tổng tiền
									.value.total 1.000.000đ