.page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/3.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Tin tức
section.news-page
	.container
		h1.home-title.text-center Tin tức & Sự kiện
		//- nav.top-nav.clearfix
			ul 
				li.active
					a(href="#!") Tin tức
				li
					a(href="#!") Sự kiện
		.hot-news
			.row
				.col-12.col-lg-8
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Khai trương cửa hàng mới
				.col-12.col-lg-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Khai trương cửa hàng mới
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Khai trương cửa hàng mới
		.news-list
			.row
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Khai trương cửa hàng mới
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Mr.Vui trình làng hàng loạt sản phẩm mới
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Chọn balo du lịch như thế nào là phù hợp?
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Kiểm tra độ bền vali Elle
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Khai trương cửa hàng mới
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Mr.Vui trình làng hàng loạt sản phẩm mới
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Chọn balo du lịch như thế nào là phù hợp?
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Kiểm tra độ bền vali Elle
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Khai trương cửa hàng mới
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Mr.Vui trình làng hàng loạt sản phẩm mới
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Chọn balo du lịch như thế nào là phù hợp?
				article.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 19/03/2018
								h3.news-name
									a(href="#!") Kiểm tra độ bền vali Elle
		.pages
			ul.pagination
				li.active
					a(href="#") 1
				li 
					a(href="#") 2
				li 
					a(href="#") 3
				li 
					a(href="#") 4