.partner-banner
	.banner-img
		img(src="img/breadcrumb/3.jpg", alt="")
	.banner-caption.white
		.big Cùng gia nhập đại gia đình Mr.Vui
		.des Môi trường làm việc giúp bạn phát triển chuyên môn tốt nhất
		.btn-wrap.text-center
			a.btn-career(href="#!") Các vị trí tuyển dụng
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Tuyển dụng
section.career-intro
	.container
		h1.about-title.text-center Văn hóa Mr.Vui
		.content.text-center
			p Mr.Vui giữ vững quan điểm, con người là nguồn lực chủ chốt quyết định sự thành công của doanh nghiệp, là nhân tố được ưu tiên đầu tư hàng đầu. Thế nên Mr.Vui luôn tạo cơ hội cho nhân viên phát triển chuyên môn, cũng như sự cân bằng giữa công việc và cuộc sống. Bên cạnh triển khai không gian mở làm việc để khuyến khích sáng tạo, giao lưu học hỏi, thảo luận công việc, … Mr.Vui đầu tư máy móc, thiết bị kỹ thuật tiên tiến để hỗ trợ cho công việc tốt nhất. 
			br
			p Nếu bạn yêu thích một môi trường làm việc tươi trẻ, nhiệt huyết, thoả sức sáng tạo, tự do phát triển các kỹ năng, … hãy gia nhập ngôi nhà chung Mr.Vui để trải nghiệm ngay bây giờ!!!
section.career-motto
	.section-bg(style="background:url(img/cbg.jpg) center center no-repeat;background-size: cover")
	.container
		h1.about-title.text-center.text-white Phương châm làm việc
		.motto-list
			.row.justify-content-center
				.col-12.col-md-4
					.motto-col
						.icon
							img(src="img/ci1.png", alt="")
						.name Sáng tạo
				.col-12.col-md-4
					.motto-col
						.icon
							img(src="img/ci1.png", alt="")
						.name Sáng tạo
				.col-12.col-md-4
					.motto-col
						.icon
							img(src="img/ci1.png", alt="")
						.name Sáng tạo
				.col-12.col-md-4
					.motto-col
						.icon
							img(src="img/ci1.png", alt="")
						.name Sáng tạo
				.col-12.col-md-4
					.motto-col
						.icon
							img(src="img/ci1.png", alt="")
						.name Sáng tạo
		.content.text-center
			p.text-white Chúng tôi luôn lắng nghe những đóng góp để tạo ra môi trường làm việc tuyệt với nhất, hướng tới mục đích “cùng nhau cố gắng
.career-album
	.container
		.album-list
			.row
				.col-12.col-md-6
					a.img(href="#!" style="background:url(img/cpic1.jpg) center center no-repeat;background-size: cover")
				.col-12.col-md-6
					a.img(href="#!" style="background:url(img/cpic1.jpg) center center no-repeat;background-size: cover")
				.col-12.col-md-3
					a.img(href="#!" style="background:url(img/cpic1.jpg) center center no-repeat;background-size: cover")
				.col-12.col-md-6
					a.img(href="#!" style="background:url(img/cpic1.jpg) center center no-repeat;background-size: cover")
				.col-12.col-md-3
					a.img(href="#!" style="background:url(img/cpic1.jpg) center center no-repeat;background-size: cover")
.career-page
	.container
		h2.about-title.text-center Các vị trí tuyển dụng
		.job-list
			.job.active
				.job-title 
					.number 1
					.name Sale thị trường
					.date 30/01/2018
				.job-content(style="display:block")
					.content
						p
							strong Yêu cầu công việc
						ul
							li Tìm kiếm, mở rộng mối quan hệ khách hàng.
							li Khai thác nhu cầu và tư vấn khách hàng chọn mua các sản phẩm, dịch vụ tại công ty.
							li Cập nhật thông tin thị trường giỏ sách, nhanh chóng nắm bắt nhu cầu của khách hàng.
							li Trau dồi kỹ năng tư vấn, quảng bá hình ảnh công ty đến khách hàng một cách chuyên nghiệp.
							li Chăm sóc khách hàng hiện tại và khách hàng tiềm năng.
							li Các công việc khác theo phân công của Trưởng phòng kinh doanh và quản lý.
					.btn-wrap
						a.btn-apply(href="#!") Ứng tuyển
			.job
				.job-title 
					.number 1
					.name Sale thị trường
					.date 30/01/2018
				.job-content
					.content
						p
							strong Yêu cầu công việc
						ul
							li Tìm kiếm, mở rộng mối quan hệ khách hàng.
							li Khai thác nhu cầu và tư vấn khách hàng chọn mua các sản phẩm, dịch vụ tại công ty.
							li Cập nhật thông tin thị trường giỏ sách, nhanh chóng nắm bắt nhu cầu của khách hàng.
							li Trau dồi kỹ năng tư vấn, quảng bá hình ảnh công ty đến khách hàng một cách chuyên nghiệp.
							li Chăm sóc khách hàng hiện tại và khách hàng tiềm năng.
							li Các công việc khác theo phân công của Trưởng phòng kinh doanh và quản lý.
					.btn-wrap
						a.btn-apply(href="#!") Ứng tuyển
			.job
				.job-title 
					.number 1
					.name Sale thị trường
					.date 30/01/2018
				.job-content
					.content
						p
							strong Yêu cầu công việc
						ul
							li Tìm kiếm, mở rộng mối quan hệ khách hàng.
							li Khai thác nhu cầu và tư vấn khách hàng chọn mua các sản phẩm, dịch vụ tại công ty.
							li Cập nhật thông tin thị trường giỏ sách, nhanh chóng nắm bắt nhu cầu của khách hàng.
							li Trau dồi kỹ năng tư vấn, quảng bá hình ảnh công ty đến khách hàng một cách chuyên nghiệp.
							li Chăm sóc khách hàng hiện tại và khách hàng tiềm năng.
							li Các công việc khác theo phân công của Trưởng phòng kinh doanh và quản lý.
					.btn-wrap
						a.btn-apply(href="#!") Ứng tuyển