.page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/3.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.breadcrumb-wrap
	.container.full-width
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Tin tức
section.news-page
	.container
		h1.home-title.text-center MẸO XỬ LÝ HÀNH LÝ QUÁ CÂN KHI ĐI MÁY BAY CỦA TIẾP VIÊN HÀNG KHÔNG
		.news-info
			time 19/03/2018
		.news-content.content
			p.text-italic Mỗi hãng hàng không đều có những quy định riêng giới hạn cân nặng hành lý. Nếu hành lý xách tay của bạn quá cân và bạn không muốn tốn phí phạt từ hãng, hãy tham khảo mẹo “nhỏ tai” này từ các tiếp viên hàng không nhé!
			p
				strong Nắm rõ quy định hành lý xách tay của các hãng hàng không
			figure
				img(src="http://lug.webcanhcam.com/Data/Sites/1/media/tin-tuc/21-11/vali-size-cabin/03-(1).jpg", alt="")
			p Người ta thường bảo “Muốn lách luật, trước tiên phải nắm rõ luật”. Bước đầu tiên trên hành trình “trốn” hành lý xách tay quá cân chính là nắm rõ quy định của hãng hàng không mà bạn lựa chọn. Nắm rõ quy định về cân nặng và kích thước cho phép sẽ giúp bạn dễ dàng trong việc sắp xếp hành lý. Bài viết cũng khuyến cáo bạn chỉ nên xách thêm từ 2-4kg vượt quy định để dễ dàng qua cửa và tránh làm ảnh hưởng đến an ninh hàng không, vì về cơ bản, quy định được đặt ra nhằm bảo đảm tối đa an toàn cho hành khách trong suốt chuyến bay. 
			p Quy định cân nặng và kích thước hành lý xách tay của một số hãng máy bay hiện nay:
			ul
				li Vietnam Airline: Hành lý cân nặng không vượt quá 7kg và tổng kích thước 3 chiều (dài, rộng, cao) không được vượt quá 115cm (56cm x 36cm x 23cm hay 22” x 11” x 9”)
				li Jetstar: Hành lý cân nặng dưới 7kg đối với hành khách hạng phổ thông (Economy) và 14kg đối với hành khách hạng thương gia (Business).
				li Vietjet Air: Hành lý cân nặng không vượt quá 7kg và có kích thước tối đa 56cm x 36cm x 23cm.
			p
				strong Sắp xếp hành lý xách tay khoa học và gọn gàng
			figure
				img(src="http://lug.webcanhcam.com/Data/Sites/1/media/tin-tuc/21-11/vali-size-cabin/04-(1).jpg", alt="")
			p Sau khi đã biết trọng lượng hành lý tối đa cho phép của hãng hàng không mà mình sử dụng, hãy lên kế hoạch “nhét” đồ đạc vào vali. Bạn nên chọn vali tối màu và có bánh xe để trông hành lý nhỏ gọn hơn, dễ di chuyển. Chọn vali vỏ nhựa tuy trông hơi cồng kềnh nhưng có ưu điểm không bị “phồng” khi lượng hành lý “nhét” bên trong quá nhiều. Khi gói đồ vào vali cần sắp xếp thật gọn gàng, tận dụng mọi diện tích, các kẽ hở và chú ý trọng lượng.
			a(href="#!") Tham khảo thêm những mẹo xếp đồ siêu gọn vào vali đi du lịch 
			p 
				strong Mẹo xách hành lý quá cân khi đi máy bay
			ul
				li Ngoài chiếc vali có trọng lượng theo đúng quy định của hãng, bạn nên chuẩn bị thêm 1 chiếc balo hoặc túi xách chắc chắn để xử lý phần hành lý thừa cân. Nhìn chung, quy định của các hãng máy bay ASEAN đều cho phép cân nặng hành lý xách tay tối đa 7kg và bạn có thể mang lên máy bay 1 vali size cabin + 1 balo hoặc túi xách tay. 
				li Khi đến quầy làm thủ tục check-in, bạn chỉ cần mang theo vali xách tay đã chuẩn bị trước để nhân viên kiểm tra thấy đúng tiêu chuẩn. Balo hoặc túi xách chứa hành lý thừa cân có thể gửi người thân hay bạn bè xách hộ đứng ở xa quầy. Sau khi làm xong thủ tục thì chạy đến lấy balo rồi vào cửa quét an ninh. Hãy yên tâm nhé vì tại cửa an ninh, bạn sẽ không bị soi cân nặng hành lý nữa mà chỉ bị quét xem đồ đạc mình mang theo có thuộc danh mục cấm hay không thôi. Trong trường hợp đi một mình, không có người cầm balo hộ, bạn có thể đặt balo dưới chân ở quầy check-in, nhưng sau khi làm thủ tục, nhớ khéo léo xách balo để không bị nhân viên phát hiện nhé.
			figure
				img(src="http://lug.webcanhcam.com/Data/Sites/1/media/tin-tuc/21-11/vali-size-cabin/01-(1).jpg", alt="")
			ul
				li Sau khi qua cửa quét an ninh, ngồi ở khu vực chờ lên máy bay đừng vội mừng vì khoảng 15-20 phút trước giờ bay, nhân viên sẽ soi hành lý của bạn một lần nữa. Lúc này bạn sẽ phải “đối mặt” với nhân viên kiểm tra thẻ lên máy bay nếu đi lồng ống (Vietnam Airlines) hoặc nhân viên trên xe buýt nếu đi xe buýt (Jetstar). Để tránh bị phát hiện, bạn cần tìm mọi cách nhồi nhét chiếc balo vào vali. Nếu không thể nhồi thêm được, hãy cố gắng kéo vali và đeo balo sao cho đừng quá lộ liệu. Lời khuyên cho bạn đừng đi đầu hàng hay cuối hàng, hãy đi giữa hàng, lẩn vào đám đông hay đi bên cạnh người to con hơn mình để được che chắn bớt.
				li Sau khi lên máy bay, hãy nhanh chóng cất hành lý lên ngăn đồ phía trên. Lưu ý đừng nhờ tiếp viên nâng hộ vì có thể họ sẽ phát hiện tình trạng thừa cân hành lý của bạn.
			figure
				img(src="http://lug.webcanhcam.com/Data/Sites/1/media/tin-tuc/21-11/vali-size-cabin/02-(1).jpg", alt="")
			p 
				strong Gửi hành lý ký gửi
			p Cách giải quyết trên nghe đơn giản nhưng không phải ai cũng đủ bình tĩnh và khéo léo để xử lý được. Nếu bị phát hiện mang hành lý quá cân, hành khách sẽ phải đóng thêm cước phí tại sân bay, vừa mất thời gian đi tìm chỗ đóng cước phí mà phí lại cao hơn so với đặt trước tình trạng hành lý quá cân. Do đó, biện  pháp an toàn nhất, nhanh nhất, đúng với quy định của hãng nhất là sử dụng hành lý ký gửi. Với hành lý ký gửi, trọng lượng tối đa được mang theo thoải mái hơn nhiều. Nhất là đối với những hành khách trở về sau chuyến công tác hay du lịch dài ngày muốn mang quà về cho người thân, bạn bè.
			a(href="#!") Tham khảo thêm những vật dụng không nên xếp vào hành lý ký gửi khi đi máy bay 
			p Quy định hành lý xách tay là cách để các hãng hàng không đảm bảo cho chuyến bay được an toàn. Bạn không nên xách quá cân quá nhiều để tránh làm ảnh hưởng đến an ninh hàng không, liên quan trực tiếp đến sức khỏe cũng như tính mạng của bản thân và người khác. Mẹo xách hành lý quá cân bên trên chỉ nên áp dụng trong trường hợp bất đắc dĩ thôi nhé! Chúc bạn có một chuyến bay an toàn, vui vẻ và thoải mái nhất bên cạnh những sản phẩm của LUG.vn.
		.other-news
			.small-title Tin tức liên quan
			.news-list
				.row
					article.col-12.col-sm-6.col-md-4
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time 19/03/2018
									h3.news-name
										a(href="#!") Mr.Vui trình làng hàng loạt sản phẩm mới
					article.col-12.col-sm-6.col-md-4
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/2.jpg", alt="")
								figcaption
									time 19/03/2018
									h3.news-name
										a(href="#!") Chọn balo du lịch như thế nào là phù hợp?
					article.col-12.col-sm-6.col-md-4
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/3.jpg", alt="")
								figcaption
									time 19/03/2018
									h3.news-name
										a(href="#!") Kiểm tra độ bền vali Elle